:root{
    /* Coors */
    --white: #fff;
    --red: red;
    --gray: #ccc;
    --orange: #f90;
    --black: #000;

    /* Grid */
    --box-width: 1280px;
    --box-padding: 20px 40px;

    /* Typography */
    --font-family: "Arial";
    --text-color: var(--black, #000);

    /* Features */
    --selection-background: var(--gray, #b3d4fc);
    --selection-color: var(--black, #000);
    --over-background-color: var(--gray, #b3d4fc);
    --background-color: var(--white, #fff);

    /* Other */
    --box-shadow-color: #888;
}
